/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Imports
    Variables
    General
    Responsive
    Wrappers
    Typography
    Navigation
    Header
    Content
    Footer
    Animations

----- */


/* --------------------------------
    Imports
-------------------------------- */
@import "sass-bootstrap/lib/bootstrap";


/* --------------------------------
    Variables
-------------------------------- */
$hero-height: 300px;


/* --------------------------------
    General    
-------------------------------- */
body {
    background: #222;
}

input[type="text"], input[type="search"], input[type="password"], .btn, .navbar li, .navbar a,
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, .btn:focus, .navbar li:focus, .navbar a:focus, 
input[type="text"]:active, input[type="search"]:active, input[type="password"]:active, .btn:active, .navbar li:active, .navbar a:active, 
textarea textarea, select { 
  outline: none;
  box-shadow: none;
}

a {
    cursor: pointer;
}


/* --------------------------------
    Reponsive
-------------------------------- */
@media (min-width: 992px) { 
    .container {
        // width: 900px;
    }
}

@media (min-width: 1200px) { 
    .container {
        // width: 900px;
    }
}


/* --------------------------------
    Wrappers
-------------------------------- */
.content-wrapper {
    background: #f4f4f4;
}

.content {
    padding-bottom: 30px;
    min-height: 350px;
}


/* --------------------------------
    Typography
-------------------------------- */
header.hero h1 {
    position: absolute;
    bottom: 50px;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

    small {
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
}


/* --------------------------------
    Navigation
-------------------------------- */
.navbar {
    border-radius: 0px;

    .btn-group {
        margin-top: 9px;
    }
}

.navbar.navbar-custom {
   margin-bottom: -55px;
   background: #000;
}

@media (min-width: 992px) { 
    .navbar.navbar-custom {
        border-radius: 0px;
        background: none;
        border: none;

        li, li.active, a, li.active a {
            background: none !important;
        }
    }
}


/* --------------------------------
    Header
-------------------------------- */
header.hero {
    background: #777 url('/images/hero-background2.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    margin-bottom: 30px;
    position: relative;

    .container {
        position: relative;
        height: 300px;

        .portrait {
            position: absolute;
            height: 300px;
            width: 300px;
            right: 100px;
            top: 0px;
            background: red;
        }
    }

    input[type="search"] {
        padding-left: 35px;
        background: #fff url('/images/search-icon.png') no-repeat 12px 9px;
    }

    input[type="search"], .input-group-btn button {
        margin-top: $hero-height - 17;
    }

    .input-group-btn button {
        padding-bottom: 7px;
        background: #222;
        border-color: #000;
    }
}


/* --------------------------------
    Content
-------------------------------- */
.element {
    background: #ddd;
    margin-bottom: 30px;
    position: relative;

    h3 {
        color: #fff;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        left: 0px;
        bottom: 15px;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        font-size: 18px;
        line-height: 20px;

        small {
            font-size: 12px;
            line-height: 16px;
            display: block;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

canvas {
    width: 100%;
}

.pdf-wrapper {
    background: #f4f4f4;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


/* --------------------------------
    Footer
-------------------------------- */
footer.page-footer {
    padding-top: 30px;
    padding-bottom: 30px;

    p {
        color: #ddd;
        font-size: 11px;
    }

    h5 {
        color: #fff;
    }
}


/* --------------------------------
    Animations
-------------------------------- */
.fade-in.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

.fade-in.ng-leave {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    opacity: 1;
}

.fade-in.ng-leave.ng-leave-active {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    opacity: 0;
}
 
.fade-in.ng-enter.ng-enter-active {
    opacity: 1;
}

.scale-fade {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.scale-fade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}

.scale-fade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

.scale-fade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

.scale-fade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}


