<footer class="page-footer">
  	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
        		<h5>Tittel</h5>
          		<p>Lorem ipsum</p>
        	</div>
        	<div class="col-md-6">
        		<h5>Tittel</h5>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, sit, quas, eos non obcaecati expedita incidunt magnam minima soluta nam corporis repellendus deleniti dolor fuga facere maxime dolorum iusto odit!</p>
        	</div>
    	</div>
  	</div>
</footer>