<div>

	<div class="content-wrapper">

		<div ng-include src='"/views/partials/nav.html"'></div>

		<header class="hero">
			<div class="container">
				<h1><small>Magne Hornes</small><br/>Volleyball krønike</h1>
			</div>
		</header>
		
		<div class="container content">

			<div class="row">
				<div class="col-md-4">
					<img src="#" alt="" style="width:100%; height: 300px;">
				</div>
				<div class="col-md-8">
					<h2>Magne Hornes</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, sunt, dicta! In, sunt aut dolor rerum inventore laboriosam tenetur autem.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, necessitatibus, magni, accusamus vitae quisquam tenetur doloremque voluptatibus nesciunt ipsum libero dolores culpa ipsa iusto architecto asperiores. Enim, provident, officiis, amet quasi assumenda sint ullam similique iste perferendis recusandae sequi velit labore ex aliquam neque doloribus numquam necessitatibus dignissimos quae delectus odio saepe repellendus minus ad aperiam magnam consequatur quidem quisquam quam id. Deleniti, minus, facilis, eveniet porro esse voluptatum eos impedit dolor saepe officiis quis ad cupiditate ea quam tempore. Numquam, odio, similique distinctio nesciunt quae facere quidem voluptatibus unde ipsum dolore ullam atque voluptates ea placeat aut perferendis illo.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, rem, veritatis, labore vel voluptate ipsa magni odio sequi natus ullam nisi illum fugit delectus est consequuntur unde at eaque cumque!</p>
				</div>
			</div>

		</div>

	</div>

</div>