<div>
	<!-- <iframe 
		src="http://docs.google.com/viewer?url=http://www.url.com/{{id}}.jpg" 
		width="600" height="780" 
		style="border: none;">
	</iframe> -->

	<div class="content-wrapper">

		<div ng-include src='"/views/partials/nav.html"'></div>

		<header class="hero">
			<div class="container">
				<h1><small>Magne Hornes</small><br/>Volleyball krønike</h1>
			</div>
		</header>
		
		<div class="container content">

			<div class="row">
				<div class="col-md-12">
					<!-- <hr/>
					<a href="/" class="btn btn-sm btn-default">Tilbake til oversikten</a>
					<small style="margin-left: 10px;">eller gjør et nytt søk ovenfor</small> -->
					<h2>{{id}}</h2>
					<hr/>
					<img src="http://www.url.com/{{id}}.jpg" alt="">
				</div>
			</div>

		</div>

	</div>

</div>