<div>

	<div class="content-wrapper">
		
		<div ng-include src='"/views/partials/nav.html"'></div>

		<header class="hero">
			<div class="container">
				<div class="portrait"></div>
				<h1><small>Magne Hornes</small><br/>Volleyball krønike</h1>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input type="search" class="form-control" placeholder="Søk etter navn, årstall, overskrifter eller innholdstekst .." ng-model="search">
							<span class="input-group-btn">
						        <button class="btn btn-primary" type="button">Søk</button>
					      	</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container content">

			<div class="row">
				<div class="col-md-12">
					<hr/>
					<p>
						<strong>Resultat: </strong>
						{{(articles | filter:search).length}} elementer i listen
						<small ng-show="search"> - ("{{search}}")</small>

						<span class="ordering-wrapper">
							<span>
								<a ng-click="setElementOrdering('-year')">
									<span class="glyphicon glyphicon-chevron-down"></span>
								</a>
							</span>
							<span>
								<a ng-click="setElementOrdering('year')">
									<span class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</span>
						</span>
					</p>
					<hr/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" ng-show="(articles | filter:search).length < 1">
					<p>Ditt søk ga dessverre ingen resultater.</p>
				</div>
				<div class="col-md-3 col-sm-6 scale-fade" ng-repeat="article in articles | filter:{'year':search} | orderBy:orderElements">
					<!-- <a href="/#/detail/{{article.id}}" target="_blank"> -->
					<a href="/#/artikkel/{{article._id}}" style="text-decoration: none;">
						<div class="element">
							<h3>{{article.year}}<br/>
								<!-- <small ng-show="search">x treff</small> -->
							</h3>
							<img ng-src="{{article.image_url}}" style="width: 100%; height: 300px;" alt="">
						</div>
					</a>
				</div>
			</div>

		</div>

	</div>

	<div ng-include src='"views/partials/footer.html"'></div>

</div>